@import './theme.scss';

[class*=' icon-'],
[class^='icon-'] {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}

@mixin borderBox {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
}

// 颜色
$blue: #314396;
$blue_two: #607795;
$green: #3ec298;
$green_two: #7bad70;
$green_three: #65c875;
$green_foue: #e1f5e9;
$red: #dc6068;
$gray: #cbd5db;
$lineGray: #f0f0f0;
$background: #f6f8fa;
$fontText: #1d2023;
$orange: #ff7a45;
$fontText: #222;
$fontText_two: #292929;
$fontText_three: #606266;
$headerBkg: #1f2235;
$headerText: #fff;
$disableColor: #808285;
